body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login-main{
    text-align: center;
    width: 100%;
    margin: 2rem;
}

#login-main #title{
    color: blue;
    margin-bottom: 3rem;
}

#login-main #inputid, #inputpw{
    width: 100%;
    height: 3.75rem;
    margin-bottom: 0.75rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #F5F5F5;
    font-size: 1rem;
    /* padding-left: 1rem; */
}

#login-main #login{
    width: 100%;
    height: 3.75rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5000000rem;
    color: white;
    background-color: #2561F8;
    font-size: 1rem;
}

#input{
    border-radius: 3000rem;
    border: 0.1rem solid #CBCBCB;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 2.5rem;
    padding: auto;
}

#input-container{
    width: 100%;
    top: 50%;
}

#icon-search{
    font-size: 0.75rem;
    float: left;
    margin-left: 1.25rem;
}

#input-search{
    font-size: 0.75rem;
    display: inline-block;
    background: transparent; 
    width: 80%;
    margin-left: 1rem;
    color: #666666;
    border: none; 
    margin-left: 0.5rem;
}

.recommend-user-txt{
    margin-left: 10%;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
}

#recommend-user{
    width: 3rem;
    text-align: center;
    margin-left: 10%;
    margin-top: 0.75rem;
    font-size: 0.75rem;
}

#recommend-user img{
    width: 3rem;
}

#recommend-user .rname{
    margin-top: 0.25rem;
    padding: 0;
    color: black;
}

#recommend-user .rtag{
    margin-top: 0rem;
    color: #2560F8;
}

#groups{
    margin-top: 1.25rem;
}

.recommend-group, .community-group{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1rem;
    background-color: #F8F8F8;
    border-radius: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.75rem;
}

.recommend-group .title{
    margin-left: 0.75rem;
    font-size: 1rem;
    padding: 0;
}

.recommend-group .time, .location, .target{
    margin-left: 0.75rem;
    font-size: 0.75rem;
}

.recommend-group .tagcontainer{
    margin-left: 0.75rem;
    width: auto;
}

.community-user-profile{
    margin: 0.75rem;
}

.community-user-profile img{
    float: left;
    width: 1.5rem;
}

.community-user-profile p{
    float: left;
    padding: 0;
    margin-left: 0.75rem;
    font-size: 0.75rem;
}

.community-content{
    display: inline-block;
    margin: 0.75rem;
}

.community-content p{
    margin: 0;
}

.community-content .title{
    font-size: 1rem;
}

.community-content .content{
    font-size: 0.75rem;
}

.chat-txt{
    margin-left: 10%;
    margin-top: 2.5rem;
    font-size: 1.25rem;
}

#group-chat-container{
    margin-left: 10%;
    margin-right: 10%;
}

#group-chat-container .group-chat{
    border-radius: 0.75rem;
    background-color: white;
    width: 100%;
}

.group-chat .chat-title{
    margin: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
}

.group-chat .chat-content{
    margin: 1rem;
    margin-top: 0;
    font-size: 0.8rem;
}

.group-chat .chat-unread{
    float: right;
    vertical-align: baseline;
    background-color: blue;
    color: white;
    border-radius: 3000rem;
    padding: 0.25rem;
}