<!DOCTYPE html>
<html lang = "kr">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/06fb83cb17.js" crossorigin="anonymous"></script>
        <link rel = "stylesheet" href = "./public/style/style.css">
        <title>SmeetUP</title>
    </head>
    <body>
        <form id = "input">
            <div id = "input-container">
                <div id = "icon-search"><i class = "fa-solid fa-magnifying-glass"></i></div>
                <input id = "input-search" type = "search" placeholder = "코딩, 수학 등 스터디 모임을 검색해보세요!" aria-label = "Search">
            </div>
        </form>

        <p class = "recommend-user-txt">오늘의 인기글</p>
        <form class = "community">
            <div class = "community-group">
                <div class = "community-user-profile">
                    <img src = "./public/img/usericon.png">
                    <p>어쩔한지효티비 <span>#SmeetUP</span></p>
                </div>
                <div class="community-content">
                    <p class = "title">어쩔티비</p>
                    <p class = "content">응~👌🏻 어쩔티비~ 📺💁🏻‍♂️ 저쩔티비~📺 💁🏻‍♀️ 안물티비~안궁티비~뇌절티비~우짤래미~ 저짤래미~ 쿠쿠루삥뽕🕺🏻 지금 화났죠?🔥😛 개킹받죠? 죽이고 싶죠? 🤗어차피 내가 사는곳 모르죠? 응~못 죽이죠?👊🏻🤟🏻 어~또 빡치죠? 😌아무것도 모르죠? 아무것도 못하죠?😉 그냥 화났죠? 냬~알걨섑니댸👏🏻🙃🙃 아무도 안물 안궁~🤣 물어본 사람?🙋🏻‍♀️ 궁금한 사람?🙋🏻‍♂️ 응 근데 어쩔티비죠? 약올리죠? 응~ 어쩔 저쩔 안물 안궁😚✌🏻 </p>
                </div>
            </div>
            <div class = "community-group">
                <div class = "community-user-profile">
                    <img src = "./public/img/usericon.png">
                    <p>어쩔한지효티비 <span>#SmeetUP</span></p>
                </div>
                <div class="community-content">
                    <p class = "title">ㅈㅂ스터디들어와주새요</p>
                    <p class = "content">니얼굴백지호</p>
                </div>
            </div>
        </form>

        <p class = "recommend-user-txt">자유게시판</p>
        <form class = "community">
            <div class = "community-group">
                <div class = "community-user-profile">
                    <img src = "./public/img/usericon.png">
                    <p>어쩔한지효티비 <span>#SmeetUP</span></p>
                </div>
                <div class="community-content">
                    <p class = "title">오예</p>
                    <p class = "content">안녕하세요 여러분<br>저는 지금 개발 중입니다 헤헷ㅁㄴ이ㅏㄹㅁ나ㅣㅓ리ㅏㅁㅇ너럼ㄴ이라ㅓㅁㅇ니ㅓㅏ리ㅓㅏㅁㄴㅇ러ㅏㅣㅁㄴ어ㅏㅣㄹㄴ아럼ㅇ니ㅏ러ㅏㄴ머마ㅣㄴ어라어니라ㅓㄴㅁ어ㅣ러ㅏㅁㄴㅇ러ㅏㅣㅁㄴ아ㅓㅣ라ㅣㅁㅇ너ㅏㅣ라ㅓㅇ넒ㅇㄴ;ㄹㅁㄴㅇㄹㅇㄴㅁㄹ;ㅣㅏㅓㅁㄴㅇㄹ;ㅣㅏㅓㅁㄴㅇㄹ;ㅣㅏㅓㅁㄴㅇㄹ;ㅣㅏㅓㅣㅣ;</p>
                </div>
            </div>
            <div class = "community-group">
                <div class = "community-user-profile">
                    <img src = "./public/img/usericon.png">
                    <p>어쩔한지효티비 <span>#SmeetUP</span></p>
                </div>
                <div class="community-content">
                    <p class = "title">아 힘들다</p>
                    <p class = "content">ㄹㅇㅋㅋ<br>오송역의맛tv</p>
                </div>
            </div>
        </form>
    </body>
</html>