body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login-main{
    text-align: center;
    width: 100%;
    margin: 2rem;
}

#login-main #title{
    color: blue;
    margin-bottom: 3rem;
}

#login-main #inputid, #inputpw{
    width: 100%;
    height: 3.75rem;
    margin-bottom: 0.75rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #F5F5F5;
    font-size: 1rem;
    /* padding-left: 1rem; */
}

#login-main #login{
    width: 100%;
    height: 3.75rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5000000rem;
    color: white;
    background-color: #2561F8;
    font-size: 1rem;
}

#input{
    border-radius: 3000rem;
    border: 0.1rem solid #CBCBCB;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 2.5rem;
    padding: auto;
}

#icon-search{
    font-size: 0.75rem;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.25rem;
}

#input-search{
    font-size: 0.75rem;
    display: inline-block;
    background: transparent; 
    width: 90%; 
    margin-left: 1rem;
    color: #666666;
    border: none; 
    margin-left: 0.5rem;
}

#recommend-user-txt{
    margin-left: 10%;
    margin-top: 1rem;
    font-size: 1.25rem;
}

#recommend-user{
    width: 3rem;
    text-align: center;
    margin-left: 10%;
    margin-top: 0.75rem;
    font-size: 0.75rem;
}

#recommend-user img{
    width: 3rem;
}

#recommend-user .rname{
    margin-top: 0.25rem;
    padding: 0;
    color: black;
}

#recommend-user .rtag{
    margin-top: 0rem;
    color: #2560F8;
}

#groups{
    margin-top: 1.25rem;
}

.recommend-group{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #F8F8F8;
    border-radius: 1rem;
    padding: 1rem;
}

.recommend-group .title{
    font-size: 1rem;
}

.recommend-group .time, .location, .target{
    font-size: 0.75rem;
}

.recommend-group .tagcontainer{
    border: 0.075rem solid #E88128;
    width: auto;
}